<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <p>My main development languages are Java (Spring & JEE) and JavaScript (Angular & React).</p>
  </div>
  <div class="tech">
    <h2>Deliver</h2>
    <p>I have successfully launched many mission-critical systems for DAX corporations.</p>
  </div>
  <div class="tech">
    <h2>Lead</h2>
    <p>I feel comfortable steering engineering teams to gain traction and make an impact!</p>
  </div>
</div>
