<div class="user-details">
  <h1>My Expertise</h1>
  <p>I am a driven individual with a background in Software Engineering and proven potential to warp-drive your business.
    <a href="/assets/pdf/cv-chvogt-01-21.pdf" target="_blank">Download my CV.</a>
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <p>My main development languages are Java (Spring & JEE) and JavaScript (Angular & React). I have a strong focus on technology and keep on growing my skillset.</p>
  </div>
  <div class="tech">
    <h2>Deliver</h2>
    <p>I have successfully launched many mission-critical systems for DAX corporations, owning the solution end-to-end in my role as a Senior Delivery Architect.</p>
  </div>
  <div class="tech">
    <h2>Lead</h2>
    <p>I feel comfortable steering engineering teams to gain traction and make an impact! I have supported multiple scrum teams in a scaled agile approach.</p>
  </div>
</div>
